<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-1 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">{{'MENU.HOME' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="customer">{{'MENU.CUSTOMERES' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="home">{{'MENU.ITEM' | translate}}</a>
          </li>
          
        </ul>
        <form class="d-flex">
          <div class="row">
            <label for="inputEmail3" class="col-sm-7">{{'LANGUAGEOPTION.CAPTION' | translate}}</label>
            <div class="col-sm-5">
              <select name='langChoose' #langChoose [(ngModel)]='currentLang' class="form-select form-select-sm" (change)="onLangChange(langChoose.value)">
                <option *ngFor="let lang of languages" value="{{lang.lang}}">{{lang.name}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>